<html>

<head>
    <title>About Us</title>
    <link rel='icon' href="/img/weather.png">

    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>This site is created by Soumya Sian. It uses data from mapbox.com and weatherstack.com </p>
        <img class='portrait' src="/img/me.png">

    </div>
    {{!-- <p>Created By {{name}}</p> --}}

    {{>footer}}
</body>

</html>